# Idea files
.idea
*.iml

# Maven target files
target

# Solr data files
notemanagercol/data

# MAC-OSX
**/.DS_Store

# Spring Boot
.mvn

# Intellij
dist

# Node Builds
note-manager-web/src/main/webapp/resources/js/addnote.min.js

# Gradle
.gradle
gradle/wrapper/gradle-wrapper.jar
